<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'home.css' %}">
	<title>AboutMe</title>
</head>

<body>
	<div class="container">
		<h1>Губкин Игорь Вячеславович <br> г. Москва</h1>
		<img src="{% static 'my_photo1.jpg' %}" alt="#">
		<h2>Мои увлечения:</h2>
		<p>В детстве занимался футболом, сейчас занимаюсь волейболом.
			Также нравится математика и интересные задания, связанные с ней.</p>
		<h2>Опыт разработки:</h2>
		<p>Программировнием занимаюсь два года. Первым языком стал Python.
			Писал на нем графические приложения, работал с базами данных,
			решал олимпиадные задачи. Был опыт в разработке мобильных приложений на
			java и AndroidStudio. Верстал сайты на html+css+js(немного).</p>
	</div>
</body>

</html>